<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <%= link_to 'Navon Digital', "http://www.navondigital.com"  %>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path  %></li>
      </ul>
    </nav>
  </footer>
</div>
